@import "tailwindcss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* 
Old Theme Variables

:root {
  --color-primary: #e10e0e;
  --color-secondary: #50e3c2;
  --color-accent: #e040fb;
  --color-light: #f5f5f5;
  --color-dark: #333333;
  --color-ui: #e0e0e0;
}

.dark {
  --color-primary: #ff5252;
  --color-secondary: #00bfae;
  --color-accent: #7c4dff;
  --color-light: #222831;
  --color-dark: #f5f5f5;
  --color-ui: #393e46;
} */
